:root {
    --background: #BEDCFE; /* accessible everywhere */

}

@font-face {
    font-family: Efont1;
    src: url(AntrySansItalic_PERSONAL_USE_ONLY.otf);
  }

@font-face {
    font-family: Afont1;
    src: url(\(A\)\ Arslan\ Wessam\ A\ \(A\)\ Arslan\ Wessam\ A.ttf);
}
  

body{
    background-color: var(--background);
    user-select: none;
}
.main{
    margin-top: 30px;
    width: 1000px;
    margin: auto;
}

.main div{
    font-size: 2.75cm;
    font-family: Efont1;
    text-align: center;
}

@media only screen and (max-width: 1200px) and (min-width : 770px) {
    .main{
        width: 770px;
        margin: auto;
    }
    
    .main div{
        font-size: 2.5cm;
        font-family: font1;
    }
    
}
@media only screen and (max-width: 770px){
    .main{
        width: 360px;
        margin: auto;
    }
    
    .main div{
        font-size: 1.75cm;
        font-family: font1;
    }
    
}
